<div>
    <div>
        <app-main-carousel></app-main-carousel>
    </div>
    <div>
        <app-product-slider title="Men's Jeans" [products]="menJeans"></app-product-slider>
        <app-product-slider title="Women's Gouns" [products]="womenGouns"></app-product-slider>
        <app-product-slider title="Lehnga Choli" [products]="lehngaCholi"></app-product-slider>
        <app-product-slider title="Women suit" [products]="womenSuit"></app-product-slider>
        <app-product-slider title="Women Top" [products]="womenTop"></app-product-slider>
    </div>
</div>

    